@import "~bootstrap/scss/bootstrap";

.search-input-compoent{
	width: 100%;
	float: left;
	margin-top: 25px;
}
.search-rsult{
	width: 100%;
	float: left;
	margin-top: 30px;
}
.progress{
	width: 100%;
	float: left;
	margin-top: 30px;

}
.form-group{
	margin-bottom: 0px;
	.form-control{
		border-radius: 0px;
	}
}
.table-bordered th{
	font-size: 12px;
	font-weight: 500;
}
.btn,.form-control{
	width: 100% !important;
}

.list-group-item{
	button{
		float: right;
		background-color: transparent;
		border: none;
		color: red;
		font-weight: 800;
		font-size: 26px;
	}
}